body{
    margin:0;
    background: #EDE7DE;
}
td.divider{
    border-left: 1px solid gray;
    padding: 20px;
    margin: 14px;
    width: 60%;
}
.nobullets{
    list-style: none;
}
#adPreviewWindow{
    max-width: 60%;
}
.contactContainer {
    background: #FEF8FF;
    border-radius: 30px;
    padding: 10px;
    color: black;
    min-height: 300px;
    border: 1px solid gray;
    margin: 5px;
    min-width: 360px;
    overflow: hidden;
}

header{
    border-bottom: 3px solid #C2C2C3;
    background: white;
    position: fixed;
    width: 100%;
    z-index: 99;
}
main{
    position: relative;
    font-family: arial;
    padding: 5px;
    padding-bottom: 160px;
    min-height: 760px;
    padding-top: 100px; 
}
.column {
    float: left;
    padding-right: 30px;

}
.carusellBtn{
    border-radius: 50%;
    border-style: none;
    color: white;
    background: green;
    margin-left: 10px;
    height: 60px;
    width: 60px;
    font-size: 2em;    
}
.textarea{
    height: 14em;
    width: 28em;
}
td.mailbox {
    background: white;
    border-left: 1px solid gray;
    padding-left: 10px;
}
table.tableMailbox{
    width: 100%;
}
th{
    color: #057706;
    font-weight: bold;
}
.adImageCell{
    vertical-align: top;
}
input[type='text'], input[type='password'],  input[type='number'], input[type='email'],input[type='date'],textarea{
background: white;
    border: 2px solid #CBCAC9;
    border-radius: 15px;
    padding-left: 1em;
    height: 2em;
}
.advert_image{
 height: 300px;  
 border-radius: 10px 65px 10px 65px;
}
div#searchBar {
    position: absolute;
    top: 2em;
    left: 32em;
}
td.topalign {
    vertical-align: top;
}
td.homePageAdverts {
    height: 200px;
    vertical-align: top;
}

h1, h2, h3, h4{
    color: #057706;
    
}
.carusellBtnEnclosure {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;    
}
div#carrusell {
    overflow: hidden;
    width: calc(100% - 40px);
    background-color: rgba(5, 109, 6, 0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 30px 0 30px 0;
}
img.menu_logo {
    width: 310px;
}

img.advert_image_small{
    width: 233px;
}

#menu li a{
    text-decoration: none;
    background: #649849;
    color: white;
    font-family: arial;
    height: 2em;
    display: inline-block;
    line-height: 2em;
    padding: 0px 16px 0px 16px;
    margin: 2px;
    border-radius: 18px;
    position: relative;
    top: 7px;
}

ul#menu {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 1em;
    top: 0.5em;
}
.banner{
    height: 15em;
}
.login_div{
    float: right;
}
.welcome_msg{
    float: left;
}
.navbar li {
    list-style: none;
    float: left;
}

footer{
    position:absolute;
    bottom: 0;
    
}

footer table td{
    vertical-align: top;
}

#signup {
    background: white !important;
    color: black !important;
    border: 1px solid #649849;
}

table.advertTable {
    align-content: center;
    /* width: 75%; */
    /* text-align: center; */
    padding: 0 25%;
}

.btn {
    text-decoration: none;
    background: #057706;
    color: white;
    font-family: arial;
    height: 2.5em;
    display: inline-block;
    line-height: 2.5;
    padding: 0px 16px 0px 16px;
    margin: 2px;
    border-radius: 12px;
    border-style: none;
    min-width: 10em;
}
.btn:disabled{
    background: #C2C2C3;
}

#loginForm input {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
    width: 25em;
}

#loginForm {
    text-align: center;
    padding: 10px;
    right: 3em;
    position: relative;
    top: 4em;
}
.content{
    text-align: center;
}
.icon{
    height: 32px;
}
.uidBar {
    position: relative;
    float: right;
    top: 1.1em;
}

.subheading{
    border-bottom: 1px solid grey;
}

.logoutBtn{
    background: #DC1A24;
    text-decoration: none;
    color: white;
    font-family: arial;
    height: 1.5em;
    display: inline-block;
    line-height: 1.5;
    padding: 0px 16px 0px 16px;
    margin: 2px;
    border-radius: 18px;
}
footer{
position: fixed;
    bottom: 0;
    width: 100%;
    font-family: arial;
    background: white;
    color: #057706;
    border-top: 3px solid #C2C2C3;
}
#carusellRightBtn {
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    margin-right: -15px;
}
#carusellLeftBtn {
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    margin-left: -15px;
}
